# Learning Panda

In [8]:
import pandas as pd

## Padas Series

Las Series de Panda son herramientas para la manipulación de datos. Funcionan como si fueran diccionarios pero son mucho mas eficientes y especializados. A cada dato o a cada número de datos se le asigna una etiqueta, la etiqueta inicialmente es un número, por lo que funciona como si fuera un arreglo de Numpy, pero lo interesante de las Series es que puedes cambiar la etiqueta y asi tener una mejor organización en los datos. 

Para imprimir solamente los valores se usa el comado 'values', y para imprimir las etiquetas usamos 'index'

En general, los arreglos de Pandas son mas flexibles y generales que los de Numpy. Una de las diferencias mas notorias es el 'index', se puede accesar a los datos con la etiqueta del mismo.

In [34]:
data = pd.Series([1,4,1.5,4,8], index=['a','b','c','d','e'])
data

a    1.0
b    4.0
c    1.5
d    4.0
e    8.0
dtype: float64

In [35]:
data.values

array([1. , 4. , 1.5, 4. , 8. ])

In [36]:
data['a']

1.0

In [37]:
data.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

## Pandas DataFrame

Los DataFrames, son estructuras de datos de la libreria Pandas. Funcionan como si fuera un diccionario especializado, ya que si Series era la analogía de Panda para los arreglos de Numpy de una dimensión, DataFrame es para los arrelgos de Numpy de dos dimensiones. Para hacerlo utilizaremos dos series, ya que estas se pueden construir a partir de un diccionario. Cabe aclarar que las etiquetas de las Series tienen que ser las mismas para el DataFrame funcione de la manera en la que se desea.

In [41]:
poblacion_dicc = {'Guanajuato': 38332521,
                   'Querétaro': 26448193,
                   'Michoacán': 19651127,
                   'Aguascalientes': 19552860,
                   'Jalisco': 12882135}
poblacion = pd.Series(poblacion_dicc)
poblacion

Guanajuato        38332521
Querétaro         26448193
Michoacán         19651127
Aguascalientes    19552860
Jalisco           12882135
dtype: int64

In [45]:
area_dicc = {'Guanajuato': 423967, 'Querétaro': 695662, 'Michoacán': 141297,
             'Aguascalientes': 170312, 'Jalisco': 149995}
area = pd.Series(area_dicc)
area

Guanajuato        423967
Querétaro         695662
Michoacán         141297
Aguascalientes    170312
Jalisco           149995
dtype: int64

In [46]:
estados = pd.DataFrame({'poblacion':poblacion, 'area':area})
estados

                poblacion    area
Guanajuato       38332521  423967
Querétaro        26448193  695662
Michoacán        19651127  141297
Aguascalientes   19552860  170312
Jalisco          12882135  149995

Se puede acceder al 'index' del DataFrame, y también a las columnas del mismo.